.fav-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    border-radius: 50%;
    font-size: 20px;
  
}
.fav-btn :hover{
     color: #00abf0;
}

.fav-btn ::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
}
.fav-btn a:hover::before{
    width: 100%;
}